<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SpaceCP Beta Signup</title>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
  <!--SCRIPTS-->
  <script src="/linker/js/controller.js"></script>
  <!--SCRIPTS END-->
  
  <!--STYLES-->
  <link rel="stylesheet" href="/linker/styles/main.css">
  <!--STYLES END-->
  <link href='http://fonts.googleapis.com/css?family=Exo+2:400,200,100' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//code.ionicframework.com/ionicons/1.4.1/css/ionicons.min.css">
</head>
<body ng-app="sputnikApp">
  <div id="page">
      <div class="container">
        <div class="header">
          <h1>XereoNet Mailing List - Dream It, Do It.</h1>
        </div>
        <%- body %>
      </div>
  </div>
  <footer>
      &copy; 2014 XereoNet. <a href="https://github.com/Antariano/sputnik/">Github</a>.
  </footer>
</body>
</html>