<!doctype html>
<html lang="en" ng-app="backupApp">
<head>
  <meta charset="UTF-8">
  <title>SpaceCP Beta Signup</title>

  <script src="//code.angularjs.org/1.2.10/angular.min.js"></script>
  
  <!--SCRIPTS-->
  <script src="/linker/js/socket.io.js"></script>
  <script src="/linker/js/sails.io.js"></script>
  <script src="/linker/js/app.js"></script>
  <!--SCRIPTS END-->
  
  <!--STYLES-->
  <link rel="stylesheet" href="/linker/styles/main.css">
  <!--STYLES END-->
  <link href='http://fonts.googleapis.com/css?family=Exo+2:400,200,100' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//code.ionicframework.com/ionicons/1.4.1/css/ionicons.min.css">
</head>
<body ng-app="backupApp">
  <div id="page">
      <div class="container">
        <div class="header">
          <h1>XereoNet Mailing List - Dream It, Do It.</h1>
        </div>
        <div ng-view class="container">
          <div class="row auther">
            <div class="col-md-3">
              <span>Load settings, or make a new account</span>
            </div>
            <div class="col-md-3"><input type="text" class="form-control" placeholder="Email"></div>
            <div class="col-md-3"><input type="text" class="form-control" placeholder="Password"></div>
            <div class="col-md-3">
              <button class="btn btn-primary btn-block">Go</button>
            </div>
          </div>
          <div class="row item">
            <i class="ion-close-circled"></i>
            <h3>SpaceCP Beta List</h3>
            <p>SpaceCP is the shit and you need to sign up now, k?</p>
          </div>
          <div class="row item">
            <i class="ion-close-circled"></i>
            <h3>SpaceCP Beta List</h3>
            <p>SpaceCP is the shit and you need to sign up now, k?</p>
          </div>
          <div class="row item active">
            <i class="ion-checkmark-circled"></i>
            <h3>SpaceCP Beta List</h3>
            <p>SpaceCP is the shit and you need to sign up now, k?</p>
          </div>
          <div class="row item">
            <i class="ion-close-circled"></i>
            <h3>SpaceCP Beta List</h3>
            <p>SpaceCP is the shit and you need to sign up now, k?</p>
          </div>
          <div class="row">
            <div class="col-md-4 col-md-offset-4"><button class="btn btn-primary btn-block btn-lg">Save</button></div>
          </div>
        </div>
      </div>
  </div>
  <footer>
      &copy; 2014 XereoNet. <a href="https://github.com/Antariano/sputnik/">Github</a>.
  </footer>
</body>
</html>